@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200italic);

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0 auto;
  margin-top: 80px;
  background-image: url('https://grantcardonetv.com/wp-content/uploads/todo_list.jpg');
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  position: relative;
}

.row,
.news {
  border: 0;
  margin-top: 0.5rem;
}

.news {
  padding-left: 30px;
}

.row-login,
.row-register {
  margin-top: 13rem;
}

.row-todo {
  margin-left: 0;
  margin-right: 0;
}

.row .card-login {
  background: linear-gradient(to right, #92817a, #442727);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-login .card-title {
  color: white;
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-login .card-body {
  padding: 2rem;
}

.form-login {
  width: 100%;
}

.form-login .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-login .btn-google {
  color: white;
  background-color: #ea4335;
}

.form-label-group {
  position: relative;
  margin-bottom: 2rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* QUOTES */

.text-center {
  text-align: center;
}

.quote-card {
  background: #fff;
  color: #222222;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
  border-radius: 50px;
}

.quote-card p {
  font-size: 22px;
  text-align: justify;
  line-height: 1.5;
  margin: 0 auto;
}

.quote-card cite {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.8;
}

.quote-card:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}

.quote-card:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  bottom: -110px;
  line-height: 100px;
  right: -32px;
  font-size: 25em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}

@media (max-width: 640px) {
  .quote-card:after {
    font-size: 22em;
    right: -25px;
  }
}

.quote-card.color-card {
  background: whitesmoke;
  color: #222222;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}

.quote-card.color-card:before, .quote-card.color-card:after {
  color: #FBC02D;
}